.top-logo{
  height: 3em;
  width: 100% \9;
}

.color-1{
  background-color: #fff159;
}

.color-2{
  background-color: rgb(44, 49, 117);
}

.color-3{
  background-color: rgb(250, 250, 240);
}

.color-4{
  background-color: rgb(240, 240, 240);
}

.caja{
  box-sizing: content-box;
}

@media (max-width:768px){
  .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.3);
    }
}
